# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\QL_NhaTro\QL_NhaTro-master\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
